.buttonElement {
  border-color: var(--border-color);
  border-width: 1px;
  border-style: solid;
  border-radius: 2rem;
  height: 3rem;
  width: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
